<section>
  <div class="row">
    <div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
      <div class="col-md-12 text-center">
        <h1 class="text-center">Order Placed Successfully</h1>
        <a href="/orders" class="btn btn-primary">View Orders</a>
      </div>
    </div>
  </div>
</section>