<body class="text-center">

  <main class="form-signin">
    <form action="/user_signup" method="POST" enctype="multipart/form-data">
      <img
        class="mb-4"
        src="/images/user/login.png"
        alt=""
        width="72"
        height="72"
      />
      <h1 class="h3 mb-3 fw-normal">Create New User Account</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="name"
          name="username"
          placeholder="Jhon,Rinu,..etc"
        />
        <label for="name">Username</label>
      </div>
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="mobile"
          name="mobile"
          placeholder="8596321478"
        />
        <label for="mobile">Mobile Number</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control {{signUpErrClass}}"
          id="floatingInput"
          name="email"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
        <small class="text-danger">{{signUpErr}}</small>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          name="password"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" />
          Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
      <div class="form-floating mt-5">
        <a href="/user_login">Do you have an Account ?</a>
      </div>

    </form>
  </main>

</body>