<body class="text-center">

    <main class="form-signin">
        <form action="/user_login" method="POST" enctype="multipart/form-data">
            <img class="mb-4" src="/images/user/login.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="checkbox mb-3">
                {{#if loginError}}
                <p class="text-danger">{{loginError}}</p>
                {{/if}}
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <div class="form-floating mt-5">
                <a href="/user_signup">Create New Account ?</a>
            </div>

        </form>
    </main>



</body>